.modal-content {
      background-color: rgba(211, 206, 193, 0.916);
      min-width: fit-content;
}

.form-inputs {
    display: flex;
    gap: 40px;
    padding-bottom: 40px;
}

.rating-inputs {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.rating-input {
    display: flex;
    justify-content: right;
    gap: 5px;
}

.review-input textarea {
    height: 100%;
    width: 340px;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: -25px;
}