.modal-content {
  background: radial-gradient(
      1200px 600px at 10% -10%,
      #9c9c9c 0%,
      transparent 40%
    ),
    radial-gradient(900px 600px at 110% 10%, #bbbbbb 0%, transparent 40%),
    linear-gradient(180deg, #6d6d6d 0%, #d9cca5 100%);
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.86);
}

.bid-history-container {
  max-height: 400px;
  overflow-y: scroll;
}

.bid-history {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin-top: 20px;
}

.bid-history-modal-subtitle {
  margin-bottom: -20px;
  font-weight: bold;
}

.bid-history-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: -25px;
  position: absolute;
  z-index: 1000;
  margin-left: 225px;
}
