.item-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.item-detail-section {
  width: 80vw;
  height: 100%;
  background-color: rgba(218, 165, 32, 0.07);
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  padding: 30px;
}

.details-top {
  display: flex;
}

.item-detail-image {
  width: 640px;
  max-height: 640px;
  background-color: rgba(0, 0, 0, 0.052);
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: contents;
}

.item-detail-image-right {
  justify-self: center;
  align-self: center;
}

.item-detail-thumb-btn {
    border: none;
  background: transparent;
  padding: 0;
  max-height: 200px;
  aspect-ratio: 3 / 4;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  cursor: pointer;
  margin-left: 10px;
}

.item-detail-thumb-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item-detail-thumb-btn.active { outline: 4px solid var(--green-seaweed); }

.item-detail-image-gallery {
  padding: 20px;
}

.top-right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  margin-bottom: 30px;
}

.bid-form {
  display: flex;
  padding: 0 !important;
}

.bid-input {
  width: 100px;
  margin-top: 10px;
}

.bid-info {
  display: flex;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.052);
  width: 80%;
  align-self: center;
  justify-content: space-between;
  min-width: fit-content;
  padding: 20px;
}

.bid-info-right {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.current-bid,
.initial-bid,
.bid-end,
.bid-offer {
  font-size: 20px;
}

.initial-bid,
.bid-end {
  padding-top: 10px;
}

.span-bold {
  font-weight: bold;
}

.bid-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bid-history {
  background-color: darkkhaki;
}

.bid-history-button {
  width: fit-content;
  align-self: center;
  margin-top: 10px;
}

.item-detail-subtitle,
.item-description-subtitle {
  justify-self: center;
  align-self: center;
  font-size: 32px;
  padding-top: 20px;
}

.item-info-section {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.052);
  width: 80%;
  align-self: center;
  min-width: fit-content;
}

.item-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-info-left {
  font-size: 24px;
  padding: 20px;
}

.item-info-right {
  font-size: 24px;
  padding: 20px;
}

.item-info-left li,
.item-info-right li {
  padding-bottom: 10px;
}

.details-bottom {
  height: fit-content;
  min-height: 200px;
  padding-top: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.052);
}

.item-description {
  font-size: 20px;
  padding: 20px 40px 20px 40px;
}

.details-link {
  color: goldenrod;
}
